.filter-search {
    width: 100%;
    min-height: 8.2em;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    /*border: 2px solid blue;*/
}

.filter-search .fieldset-container {
    height: 65%;
}

.filter {
    min-width: 13em;
}

.search {
    min-width: 13em;
}

.search_button {
    float: right;
}

@media screen and (max-width: 620px), screen and (max-device-width: 620px) {
    .filter-search {
        justify-content: center;
    }
}

@media screen and (-ms-high-contrast: active) and (max-width: 900px), screen and (-ms-high-contrast: none) and (max-width: 900px) {
    .filter-search {
        max-width: 30em;
    }
}