.settings {
    height: 22em;
    min-width: 11em;
}

.settings_save {
    align-self: center;
}

.settings_year--container {
    display: flex;
    align-items: center;
}

.settings_year--input {
    max-width: 4em;
}

.settings_page {
    max-width: 4em;
}

.error-input {
    border-color: red;
}